* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

body {
    background: #3a3a3a;
}

.actions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 200px;
    gap: .5rem
}

button {
    width: 50px;
    height: 50px;

    background: #737373;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;

    border-radius: .5rem;

    outline: none;
    border: none;

    cursor: pointer;
}

button[data-action="="] {
    background: #ef941d;
}

.calculator {
    width: 200px;
    margin: auto;
}

.output {
    height: 100px;
    width: 100%;

    text-align: end;
    horiz-align: right;

    font-size: 2rem;
    color: #fff;
}


