* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-items: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background: #3a3a3a;
}

.actions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem
}

button {
    width: 50px;
    height: 50px;

    background: #737373;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;

    border-radius: .5rem;

    outline: none;
    border: none;

    cursor: pointer;
}

button[data-action="="] {
    background: #ef941d;
}

.calculator {
    padding: 1rem;


    margin: auto;
}

.output {
    display: grid;
    grid-template-rows: repeat(2, 40px);

    width: 100%;

    margin-bottom: 1rem;

    font-size: 2rem;
    color: #fff;
}

.output > * {
    text-align: end;
    width: 224px;
    overflow-x: auto;

    scrollbar-width: thin;
    scrollbar-color: #5e5e5e transparent;
    scrollbar-arrow-color: transparent;



    &::-webkit-scrollbar-thumb {
        background: red;
    }
}

#current_part {
    height: fit-content;
    white-space: nowrap;
}

#first_part {
    color: #b9b9b9;
    font-size: 1rem;
    height: fit-content;

    text-wrap: nowrap;
}


